<h1>Thank you for placing an order!</h1>
<div>
  <h4>
    To view your order and track your discounts visit your <%= link_to "account page", account_path %>.
    </br>
    Hint: If more people purchase games you've ordered, you are likely to get a larger discount, so tell your friends!
  </h4>
</div>

