<h1>Thank you for placing an order!</h1>
<div>
  <h4>
    To view your order and track your discounts please visit your <%= link_to "account page", account_path %>.
    The more people who purchase games the larger your discount, so tell your friends!
  </h4>
</div>

