<h2 class="no-margin-top divide center" style="margin-bottom:25px;padding-bottom:15px">Frequently Asked Questions</h2>

<div class="how-it-works">
  <br /><br />
  <h3>Can I really get the game for free?</h3>
  <p>
  Yes of course!  Although only a small percentage of buyers will get the game completely free, the earliest buyers and a randomly selected group of buyers will get the game completely discounted. 50%+ of buyers will get at least a 10% discount.
  </p>
  <h3>How is my credit card being charged?</h3>
  <p>
  Due to some technicalities, for our alpha test, we’ll be charging your credit cards up front (the games are released within 30 days, though!). You’ll be notified and asked to consent to this charge. If for any reason you are unhappy with this, you can request an order cancellation at <a href="mailto:support@adelieonline.com">support@adelieonline.com</a> and we will refund you.
  </p>
  <h3>When does my game ship?</h3>
  <p>
  We will ship the games 1 day before the release, with various shipping options available. This is the same service offered by most online retailers.
  </p>
  <h3>Can I cancel my order?</h3>
  <p>
  Yes, however PLEASE do so before the end of the sale, as your order affects our rewards distribution for everyone. Remember that when we ship the games out, people who are randomly awarded for a discount will be notified.
  </p>
  <h3>How can I contact you?</h3>
  <p>
  If you have any questions or concerns, please email us at <a href="mailto:support@adelieonline.com">support@adelieonline.com</a> and we will get back to you promptly.
  </p>
</div>

<script type="text/javascript">
  $("#faq-tab").addClass("active");
</script>
