<h2 class="no-margin-top divide center" style="margin-bottom:25px;padding-bottom:15px"> How it Works</h2>

<div class="how-it-works">
  <iframe width="420" height="315" src="//www.youtube.com/embed/C1LQE9ecVBc" frameborder="0" allowfullscreen></iframe>
  <br /><br /><br />
  <h3>Why order with us?</h3>
  <p>
    Pre-order a video game early enough with us, get a discount. You can even get the game for FREE. Ordered with us late? You can still be randomly chosen for a discount (yes, even FREE). At least 50% of buyers get at least a 10% discount for each game we offer.
  </p>
  <h3>How does this work?</h3>
  <p>
    We will announce video games that we are taking pre-orders for and how long we will have that sale for several days before the start of the pre-order period. The FIRST 25% of the people who order with us will be guaranteed to be placed in a reward tier. In addition, at the end of the sale, we’ll randomly select ANOTHER 25% of buyers to be placed in a discount tier as well. So that’s 50% of the buyers who will get a discount. If your guaranteed rewards tier isn’t the highest (FREE), you’re still eligible to be randomly selected to be upgraded.
  </p>
  <p>
    Those who are awarded a discount based on how early they made their purchase will be notified 24 hours after the pre-order period ends. Those who are randomly selected for a discount are notified when we ship the games out. Rewards are credited back to your credit card via refund when we ship the games out.
  </p>
  <h3>Why should I tell my friends to buy after I did?</h3>
  <p>
    The more people who pre-order with us after you, the higher chance for a better discount you get. Your guaranteed discount tier is calculated based on your relative place in “line”, so people buying after you will bump you up to higher discount tiers.
  </p>
  <h3>What are the reward tiers?</h3>
  <p>
    For the alpha test, we have 4 reward tiers which give the following discounts: 10%, 25%, 50%, and 100%. In the future we will increase the amount of tiers to make our rewards system even more interesting!
  </p>
  <h3>When will my game ship?</h3>
  <p>
    To prevent potential early releases, publishers require us not to ship out games to you until the day before release. We offer an overnight, 2 day, 3 day, and standard shipping options. Any game that we can not ship until the day of release, we will announce before the start of the sale.
  </p>
  <h3>Can I cancel my order?</h3>
  <p>
  Of course you can. However, PLEASE contact us at <a href="mailto:support@adelieonline.com?Subject=Order%20Cancelation">support@adelieonline.com</a> for a cancellation request BEFORE the end of our sale to keep our rewards system fair. Even if you did not buy early enough to be guaranteed a discount, you still have a 1 in 3 chance to be randomly selected for a discount.
  </p>
</div>

<script type="text/javascript">
  $("#how-it-works-tab").addClass("active");
</script>
