<h2 class="no-margin-top divide center" style="margin-bottom:25px;padding-bottom:15px"> How it Works</h2>

<div class="center how-it-works">
  <iframe width="420" height="315" src="//www.youtube.com/embed/C1LQE9ecVBc" frameborder="0" allowfullscreen></iframe>
  <p>
  We sell video game pre-orders, with a twist. When you pre-order a game with us, you’re placed in a “line.” If you buy early enough with us, you get a discount anywhere between 10-100%. Naturally, the earlier you are in line, the better a discount. On top of that, we randomly select a whole bunch of people and give them a discount too (yes, they can even get it for free). Our goal is to give at least 10% discount to over 50% of our customers with every game we offer. So basically, you don’t have anything to lose but much to gain by pre-ordering with us if you plan on buying the game anyways.
  </p>
  <p>
Each game we offer for pre-order will end several weeks before the game is released, so we can make the order and get the games to you as soon as possible. Those who are awarded a discount based on their place in line will be notified 24 hours after our pre-order period ends. Those who are randomly selected for a discount are notified when we ship the games out. Rewards are credited back to your credit card via refund (not that pesky company credit business) when we ship the games out.
</p>
<h3>Order Cancellations</h3>
<p>

To prevent potential early releases, publishers require us not to mail out games until day before release. We offer an overnight, 2 day, 3 day, and standard shipping options.
</p>
<p>

Because every order help grows the line and promote our rewards system, we do not offer order cancellations. However, special circumstances can be made, and you must contact our team to request a cancellation. 
</p>
</div>

<script type="text/javascript">
  $("#how-it-works-tab").addClass("active");
</script>
