<h2 class="no-margin-top divide center" style="margin-bottom:25px;padding-bottom:15px"> How it Works</h2>

<div class="center how-it-works">
  <iframe width="420" height="315" src="//www.youtube.com/embed/C1LQE9ecVBc" frameborder="0" allowfullscreen></iframe>
  <br /><br /><br />
  <p>
  We sell video game pre-orders, with an early bird rewards system. If you pre-order a video game with us early enough, you are placed in a rewards tier between 10%-100% discount. The earliest buyers will have their games completely discounted (Free). In addition, we also randomly select buyers to be placed into the different discount tiers (also eligible for their game to be completely discounted). We will give at least a 10% discount to at least 50% of our buyers for every game we offer.
  </p>
  <p>
  Each game we offer for pre-order will end several weeks before the game is released, to insure that we get the games to you as soon as possible. Those who are awarded a discount based on how early they made their purchase will be notified 24 hours after our pre-order period ends. Those who are randomly selected for a discount are notified when we ship the games out. Rewards are credited back to your credit card via refund, not company credit, when we ship the games out.
</p>
<h3>Order Cancellations</h3>
<p>
To prevent potential early releases, publishers require us not to mail out games until the day before release. We offer an overnight, 2 day, 3 day, and standard shipping options.
</p>
<p>
Because every order help grows the line and promote our rewards system, if you need to cancel your preorder, please do so before the pre-order period ends.
</p>
</div>

<script type="text/javascript">
  $("#how-it-works-tab").addClass("active");
</script>
