<ul class="nav nav-pills" id="tabs">
  <li class="active"><a href="#home" data-toggle="pill">Home</a></li>
  <li><a href="#current_product" data-toggle="pill">Current Product</a></li>
  <li><a href="#how_it_works" data-toggle="pill">How It Works</a></li>
</ul>

<div class="jumbotron">
  <div class="container">
    <div class="tab-content">
      <div class="tab-pane active" id="home">
        <h1>Welcome!</h1>
        <p>Adelie Online - For gamers, by gamers. The early bird gets the worm ya dig.</p>
      </div>
      <div class="tab-pane" id="current_product">
        MUTHA FUCKIN HALO 10
      </div>
      <div class="tab-pane" id="how_it_works">
        VIDEO SCHEEZY OF HOW IT WORKS
      </div>
    </div>
  </div>
</div>

<script>
</script>
