<% if @current_products %>
  <h2 class="no-margin-top divide center" style="margin-bottom:25px;padding-bottom:15px"> Current Products </h2>

  <div id="slides">
    <% @current_products.each_with_index do |product, index| %>
      <div>
        <div style="padding-right:10px;padding-left:10px">
          <%= render partial: 'product/active', locals: {product: product} %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<% if @upcoming_products %>
  <h2 class="no-margin-top divide center" style="margin-bottom:25px;padding-bottom:15px"> Upcoming Products </h2>
    <% @upcoming_products.each_with_index do |product, index| %>
      <div>
        <div style="padding-right:10px;padding-left:10px">
          <%= render partial: 'product/upcoming', locals: {product: product} %>
        </div>
      </div>
    <% end %>
<% end %>

<script type="text/javascript">
  $("#products-tab").addClass("active");
  $(document).ready(function() {
    $("#slides").slidesjs({
      width: $("#main-content").width(),
      //height: $("#main-content").height(),
      height: 556,
      <% if @current_products && @current_products.length > 1 %>
      play: {
         active: true,
         auto: true,
         interval: 5000,
         swap: true
      },
      <% end %>
      <% if @current_products && @current_products.length == 1 %>
      play: {
        active: false
      },
      callback: {
        loaded: function(number) {
          $("div.slidesjs-slide").css("left", "0px");
        },
        complete: function(number) {
          $("div.slidesjs-slide").css("left", "0px");
        }
      }
      <% end %>
    });
  })

</script>
