<% if @current_product %>
  <h2 class="no-margin-top divide center" style="margin-bottom:25px;padding-bottom:15px"> Current Product </h2>
  <%= render partial: 'product/show', locals: {product: @current_product} %>
<% else %>
  <div class="jumbotron">
    <h2> Soon, young padawan. Soon. </h2>
    <p>
    Take a look at some of our upcoming releases below!
    </p>
  </div>
<% end %>
<% if @upcoming %>
  <h2 class="no-margin-top divide center" style="margin-bottom:25px;padding-bottom:15px"> Upcoming Products </h2>
<% end %>

<script type="text/javascript">
  $("#products-tab").addClass("active");
</script>
