<h2 class="no-margin-top divide" style="text-align:center;margin-bottom:35px;padding-bottom:15px"> Current Product </h2>
<div class="row">
  <div class="col-sm-5">
    <div id="product-carousel" style="height:200px" class="carousel slide" data-interval="false">
      <ol class="carousel-indicators">
        <li data-target="#product-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#product-carousel" data-slide-to="1"></li>
        <li data-target="#product-carousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          Sample Image 1
        </div>
        <div class="item">
          Sample Image 2
        </div>
        <div class="item">
          Sample Image 3
        </div>
      </div>
      <a class="left carousel-control" href="#product-carousel" data-slide="prev">
        <span class="icon-prev"></span>
      </a>
      <a class="right carousel-control" href="#product-carousel" data-slide="next">
        <span class="icon-next"></span>
      </a>
    </div>
  </div>
  <div class="col-sm-7">
    <%= @product.name %>
    <br>
    <%= @product.price %>
  </div>
</div>
