<div class="row">
  <div class="col-sm-5">
    <h2 class="no-font no-margin-top"><%= @product.name %></h2>
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-xs-4 control-label no-font-size">Price</label>
        <div class="col-xs-8">
          <p class="form-control-static">
          <i class="icon-usd"></i><%= @product.price %> <small>+ shipping</small>
          </p>
        </div>
      </div>
      <div class="form-group">
        <label for="product_quantity" class="col-xs-4 control-label no-font-size">Quantity</label>
        <div class="col-xs-8">
          <select id="product_quantity" class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
      </div>
      <input type="hidden" id="product_id" value="<%= @product.id %>">
    </form>
    <button type="button" class="btn btn-default btn-lg square" style="margin-bottom:30px;width:100%" onClick="addToCart()">
      <i class="icon-plus icon-large" style="color:#ad1d28"></i> ADD TO CART
    </button>
  </div>
  <div class="col-sm-7">
    <ul class="nav nav-tabs nav-product" id="product-info">
      <li class="active">
      <a href="#product_images" data-toggle="pill">
        <i class="icon-camera-retro"></i>
      </a>
      </li>
      <li>
      <a href="#product_description" data-toggle="pill">
        <i class="icon-tag "></i>
      </a>
      </li>
      <li>
      <a href="#product_reviews" data-toggle="pill">
        <i class="icon-pencil"></i>
      </a>
      </li>
    </ul>

    <div class="tab-content" style="height:250px;overflow:auto">
      <div class="tab-pane active" id="product_images">
        <div id="product-carousel" style="height:250px" class="carousel slide" data-interval="false">
          <ol class="carousel-indicators">
            <li data-target="#product-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#product-carousel" data-slide-to="1"></li>
            <li data-target="#product-carousel" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="item active">
              Sample Image 1
            </div>
            <div class="item">
              Sample Image 2
            </div>
            <div class="item">
              Sample Image 3
            </div>
          </div>
          <a class="left carousel-control" href="#product-carousel" data-slide="prev">
            <span class="icon-prev"></span>
          </a>
          <a class="right carousel-control" href="#product-carousel" data-slide="next">
            <span class="icon-next"></span>
          </a>
        </div>
      </div>
      <div class="tab-pane" id="product_description">
        <p style="font-size:16px;margin-top:10px"><%= @product.description %></p>
      </div>
      <div class="tab-pane" id="product_reviews">
        <p style="font-size:16px;margin-top:10px">No reviews! Be the first to write a review!
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  function add_to_cart() {
    var product_id = $("#product_id").val();
    var product_quantity = $("#product_quantity").val();
    $.ajax({
      url: '/cart/add',
      data: {product_id: product_id, quantity: product_quantity},
      type: "POST",
      async: false,
      success: function(response) {
        console.log(response);
      }
    });
  }
</script>
