<div class="panel panel-primary no-margin-bottom">
  <div class="panel-heading center" style="padding:0">
    <h2 class="no-margin-top"><%= product.name %></h2>
  </div>
  <div class="panel-body" style="padding:0; padding-top:10px">
    BODY
  </div>
</div>
