<button class="btn btn-primary" onClick="add_to_cart();">
  Pre-Order
</button>
<select id="quantity">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
</select>
<input type="hidden" id="product_id" value="<%= @product.id %>">
<h3><%= @product.name %></h>

<script type="text/javascript">
  function add_to_cart() {
    var product_id = $("#product_id").val();
    var quantity = $("#quantity").val();
    $.ajax({
      url: '/cart/add',
      data: {product_id:product_id, quantity:quantity},
      type: "POST",
      async: false,
      success: function(response) {
        console.log(response);
      }
    });
  }
</script>
