#nav-bar {
  margin-bottom: 30px;
}
.navbar-nav>li>a {
  border-left:0;
  border-right:0;
}

.big-ass-font {
  font-size: 20px;
  font-weight: bold;
}

.error {
  display: none;
  color: red;
}

.add-tab {
  padding-left: 3em;
}

.no-padding-left {
  padding-left: 0;
}
.no-padding-right {
  padding-right: 0;
}

.carousel-fade {
  .carousel-inner {
    .item {
      opacity: 0;
      -webkit-transition-property: opacity;
      -moz-transition-property: opacity;
      -o-transition-property: opacity;
      transition-property: opacity;
    }

    .active {
      opacity: 1;
    }

    .active.left,
    .active.right {
      left: 0;
      right: 0;
      opacity: 0;
      z-index: 1;
      text-align: inherit;
    }
  }
}

.carousel-indicators .active {
  background-color: black;
}

.carousel-indicators li {
  margin: 0;
}

.wraparound {
  position: relative;
  padding: 15px 20px 5px 30px;
  background-color: #d9edf7;
  margin: 0 -70px 48px -70px;
  box-shadow: 0 8px 8px -4px rgba(0,0,0,0.3);
}
.wraparound:before,
.wraparound:after {
  content:" ";
  border-top:10px solid #3a87ad;
  position:absolute;
  bottom:-10px;
} 
.wraparound:before {
  border-left:10px solid transparent;
  left:0;
}
.wraparound:after {
  border-right:10px solid transparent;
  right:0;
}
.wraparound-xs {
  position: relative;
  padding: 15px 20px 5px 30px;
  background-color: #d9edf7;
  margin:0 -40px 30px -40px;
  box-shadow: 0 8px 8px -4px rgba(0,0,0,0.3);
}
.wraparound-xs:before,
.wraparound-xs:after {
  content:" ";
  border-top:10px solid #3a87ad;
  position:absolute;
  bottom:-10px;
} 
.wraparound-xs:before {
  border-left:10px solid transparent;
  left:0;
}
.wraparound-xs:after {
  border-right:10px solid transparent;
  right:0;
}

.callout {                                                                                                                                                                                              
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}

.callout-info {                                                                                                                                                                                         
  background-color: #d9edf7;
  border-color: #3a87ad;
}

.countdown-section {
  .well {
    background-color: #007fff;
    color: white;
  }
  .countdown-divide {
    right: 0;
    position: absolute;
    font-size: larger;
  }
}

.no-font {
  font-family: inherit;
}

.no-font-size {
  font-size: medium;
}

.left {
  text-align: left;
}

.right {
  text-align: right;

}
.center {
  text-align: center;
}

.square {
  border-radius: 0;
}

a:hover {
  text-decoration: inherit;
}

.form-horizontal .control-label {
  text-align: left;
}

.badge {
  color: #007fff;
  background-color: white;
}

.carousel-indicators {
  bottom: 0;
}

.no-margin-top {
  margin-top: 0;
}
.no-margin-bottom {
  margin-bottom: 0;
}

.divide {
  border-bottom: 1px solid #eeeeee;
}

.form-control {
  color: black;
}

.nav-pills-custom>li>a {
  border-radius: 0;
}

.nav-pills-custom>li.active>a {
  background-color: #0d747c;
}

.nav-pills-custom>li.active>a:hover {
  background-color: #0d747c;
}

.nav-product {
  border-bottom-color: white;
}

.nav-product>li>a {
  border-radius: 0;
}

.nav-product>li>a:hover {
  background-color: white;
  border-bottom-color: white;
}

.nav-product>li.active>a {
  background-color: white;
  color: black;
}

.nav-product>li.active>a:hover {
  background-color: white;
  color: black;
}

.container .jumbotron {
  border-radius: 0;
}

.navbar-brand {
  font-size: 28px;
}

.navbar-text {
  margin-right: 5px;
  margin-left: 5px;
}

#console_select {
  width: 200px;
}

.image_slide {
  width: 100% !important;
  height: 250px !important;
}


#slides {                                                                                                                                                                                           
      display: none
    }

    #slides .slidesjs-navigation {
      margin-top:5px;
    }

    a.slidesjs-next,
    a.slidesjs-previous,
     a.slidesjs-play,
     a.slidesjs-stop {
       background-image: url(/assets/btns-next-prev.png);
       background-repeat: no-repeat;
       display:block;
       width:12px;
       height:18px;
       overflow: hidden;
       text-indent: -9999px;
       float: left;
       margin-right:5px;
     }
 
     a.slidesjs-next {
       margin-right:10px;
       background-position: -12px 0;
     }

hover.slidesjs-next {
       background-position: -12px -18px;
     }
 
     a.slidesjs-previous {
       background-position: 0 0;
       margin-left: 15px;
     }
 
     a:hover.slidesjs-previous {
       background-position: 0 -18px;
     }
 
     a.slidesjs-play {
       width:15px;
       background-position: -25px 0;
     }
 
     a:hover.slidesjs-play {
       background-position: -25px -18px;
     }
 
     a.slidesjs-stop {
       width:18px;
       background-position: -41px 0;
     }
 
     a:hover.slidesjs-stop {
       background-position: -41px -18px;
     }
 
     .slidesjs-pagination {
       margin: 7px 15px 15px 15px;
       float: right;
       list-style: none;
     }
 
     .slidesjs-pagination li {
       float: left;
       margin: 0 1px;
     }
 
     .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(/assets/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }
    .slidesjs-pagination li a.active,
     .slidesjs-pagination li a:hover.active {
       background-position: 0 -13px
     }
 
     .slidesjs-pagination li a:hover {
       background-position: 0 -26px
     }
 
     //#slides a:link,
     //#slides a:visited {
       //color: #333
     //}
 
     //#slides a:hover,
     //#slides a:active {
       //color: #9e2020
     //}

     .slidesjs-container {
       width: 100% !important;
       height: 100% !important;
     }

