body {
  padding-top: 70px;
}

.no-font {
  font-family: inherit;
}

.square {
  border-radius: 0;
}

.badge {
  color: #ad1d28;
  background-color: white;
}

.carousel-indicators {
  bottom: 0;
}

.no-margin-top {
  margin-top: 0;
}

.divide {
  border-bottom: 1px solid #eeeeee;
}

.form-control {
  color: black;
}

.nav-pills-custom>li>a {
  border-radius: 0;
}

.nav-pills-custom>li.active>a {
  background-color: #0d747c;
}

.nav-pills-custom>li.active>a:hover {
  background-color: #0d747c;
}

.nav-product {
  border-bottom-color: white;
}

.nav-product>li>a {
  border-radius: 0;
}

.nav-product>li>a:hover {
  background-color: white;
  border-bottom-color: white;
}

.nav-product>li.active>a {
  background-color: white;
  color: black;
}

.nav-product>li.active>a:hover {
  background-color: white;
  color: black;
}

.container .jumbotron {
  border-radius: 0;
}

.navbar-brand {
  font-size: 36px;
}

.navbar-text {
  margin-right: 5px;
  margin-left: 5px;
}
