<!DOCTYPE html PUBLIC>
<html>
<body>
<div bgcolor = "#ffffff">
<table width = "100%" cellpadding = "12" cellspacing = "0" border = "0">
<tbody>
<tr>
<td align = "center" bgcolor = "#ffffff">
<table border = "0" cellpadding = "0" cellspacing = "0" width = "750">
<tbody>
	<tr>
	<td bgcolor = "#ffffff">
	<table border = "0" cellpadding = "0" cellspacing = "0" width = "750">
	<tbody>
		<tr>
			<td bgcolor ="#ffffff" width = "18">&nbsp;</td>
			<td bgcolor ="#ffffff">
			</td>
			<td bgcolor = "#ffffff" width = "429">&nbsp;</td>
			<td bgcolor = "#ffffff" width = "18">&nbsp;</td>
		</tr>	
	</tbody>
	</table>	
	</td>
	</tr>

	<tr>
	<td bgcolor = "#ffffff">
	<table border = "0" cellpadding = "0" cellspacing = "0" width = "750">
	<tbody>
		<tr>
			<td bgcolor ="#ffffff" width = "18">&nbsp;</td>
			<td bgcolor ="#ffffff">
				<img style = "display:block" src = "/assets/line.jpg" alt="Adelie Online" title = "Adelie Online" border = "0" height = "5" width = "714">			
			</td>
			<td bgcolor = "#ffffff" width = "18">&nbsp;</td>
		</tr>	
	</tbody>
	</table>	
	</td>
	</tr>

	<tr>
	<td bgcolor = "#ffffff">
	<table border = "0" cellpadding = "0" cellspacing = "0" width = "750">
	<tbody>
		<tr>
			<td bgcolor = "#ffffff" height = "10">&nbsp;</td>
		</tr>	
	</tbody>
	</table>	
	</td>
	</tr>

	<tr>
	<td bgcolor = "#ffffff">
	<table border = "0" cellpadding = "0" cellspacing = "0" width = "750">
	<tbody>
		<tr>
			<td bgcolor ="#ffffff" width = "18">&nbsp;</td>
			<td bgcolor ="#ffffff" style = "text-align: left; font-size: 10pt; font-family: Arial, Helvetica, sans-serif" width ="714">
                <span style = "font-size: 11pt; font-weight: bold">Hi <%= @user.email %>,</span>
                <br>
                <br>
                Welcome aboard! This is just a confirmation email so you know that now you have an Adelie Online account with us. Come visit and check out our latest and upcoming video game pre-orders.
                <br>
                <p>You can confirm your account email through the link below:</p>

                <p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @token) %></p>
                <br>
                <br>
                <span style = "font-size: 10 pt">
                Cheers,
                <br>
                The Adelie Online Team
                </span>
			</td>
		</tr>	
	</tbody>
	</table>	
	</td>
	</tr>
	</tr>

	<tr>
	<td bgcolor = "#ffffff">
	<table border = "0" cellpadding = "0" cellspacing = "0" width = "750">
	<tbody>
		<tr>
			<td bgcolor = "#ffffff" height = "10">&nbsp;</td>
		</tr>	
	</tbody>
	</table>	
	</td>
	</tr>

	<tr>
	<td bgcolor = "#ffffff">
	<table border = "0" cellpadding = "0" cellspacing = "0" width = "750">
	<tbody>
		<tr>
			<td bgcolor ="#ffffff" width = "18">&nbsp;</td>
			<td bgcolor ="#ffffff">
				<img style = "display:block" src = "/assets/line.jpg" alt="Adelie Online" title = "Adelie Online" border = "0" height = "5" width = "714">			
			</td>
			<td bgcolor = "#ffffff" width = "18">&nbsp;</td>
		</tr>	
	</tbody>
	</table>	
	</td>
	</tr>

	<tr>
	<td bgcolor = "#ffffff">
	<table border = "0" cellpadding = "0" cellspacing = "0" width = "750">
	<tbody>
		<tr>
			<td bgcolor = "#ffffff" height = "20">&nbsp;</td>
		</tr>	
	</tbody>
	</table>	
	</td>
	</tr>

	<tr>
	<td bgcolor = "#ffffff">
	<table border = "0" cellpadding = "0" cellspacing = "0" width = "750" style= "font-size:0pt">
	<tbody>
		<tr>
			<td width = "670" bgcolor = "#ffffff" style = "text-align:left; font-size: 8pt; font-family: Arial,Helvetica,sans-serif">
			Adelie Online, Inc. 2013. Registered company in the United States. 
			<br>
			<br>
			<br>
			To make sure future emails from us don't find their way into spam, please add <a href=" mailto:adelieonline@gmail.com" style="color:#936f0e;text-decoration:underline" target="_blank">adelieonline@gmail.com</a>
			to your address book. Cheers!
			<br>
			<br>
			Adelie Online, Inc. Devens, Massachusetts. America
			</td>
			<td width = "18" bgcolor = "#ffffff"></td>
		</tr>	
	</tbody>
	</table>	
	</td>
	</tr>

	<tr>
	<td bgcolor = "#ffffff">
	<table border = "0" cellpadding = "0" cellspacing = "0" width = "750">
	<tbody>
		<tr>
			<td bgcolor = "#ffffff" height = "25">&nbsp;</td>
		</tr>
	</tbody>
	</table>
	</td>
	</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</body>
</html>
